body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url('https://tinyurl.com/y3778ajr') no-repeat center center fixed;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /* border:10px solid rgb(47, 170, 42); */
  border-radius:10px;
  position:absolute;
  transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.addLukeButton{
  padding:5px 12px;
  float:right;
}
.addYodaButton{
  padding:5px 12px;
  float:right;
}

.dancerContainer{
  display: flex;
  /* justify-content: center; */
  width: 400px;  /* Or whatever */
  height: 400px; /* Or whatever */
  margin: auto;  /* Magic! */
  flex-direction: row;
}
.battleField {
  min-width: 300px; /* 100px x3 = 300 */
  overflow:scroll;
}

.transition {
  transform: scale(1.6); 
  transform: scale(1.6);
  transform: scale(1.6);
  transform: scale(1.6);
}

